* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: Arial, sans-serif;
}

body {
    height: 60.6rem;
}

header {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 0.6rem;
    margin-right: 0.9rem;
}

.links {
    font-size: 1.3rem;
}

.links, .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.links a {
    text-decoration: none;
    color: #333;
}

.links a:hover {
    text-decoration: underline;
}

.buttons button {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.buttons button:hover {
    background-color: rgb(226, 220, 220);
}

.prof-pic {
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 50%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 75%;
    gap: 2.6rem;
}

.input {
    position: relative;
}

.search-engine {
    height: 4.8rem;
    width: 58.5rem;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    font-size: 1.6rem;
    text-indent: 4.5rem;
}

.placeholder {
    position: absolute;
    font-size: 1.6rem;
    left: 1.5rem;
    top: 1.5rem;
}

.search-engine:focus {
    outline: none;
}

.search-engine:hover {
    box-shadow: 0 0 0 0.3rem #f4f4f4;
}

.options {
    display: flex;
    width: 50rem;
    justify-content: center;
    gap: 1.5rem;
}

.options button {
    font-size: 1.4rem;
    height: 3.6rem;
    width: 16rem;
    background-color: #f8f9fa;
    border: 0.1rem solid #f8f9fa;
    border-radius: 5px;
    color: #3c4043
}

.options button:hover {
    border: 0.1rem solid #dfe1e5;
    box-shadow: 0 1rem 1rem -1rem #dfe1e5;
}

.credits {
    display: flex;
    font-size: 1.3rem;
    color: #4d5156;
    gap: 0.7rem;
}

.credits a {
    text-decoration: none;
    color: #0000EE;
}

.credits a:hover {
    text-decoration: underline;
}

footer {
    height: 15%;
    background-color: #f2f2f2;
    display: flex;
    font-size: 1.4rem;
    flex-direction: column;
    background-color: #f2f2f2;
}

footer > div {
    height: 50%;
    width: 100%;
    display: flex;
}

footer a {
    text-decoration: none;
    color: #202124;
}

footer a:hover {
    text-decoration: underline;
}

.country {
    font-size: 1.5rem;
    color: #202124;
    padding-left: 3rem;
    border-bottom: 0.1rem solid #dfe1e5;
    display: flex;
    align-items: center;
}

.more-links {
    align-items: center;
    justify-content: space-between;
}

.more-links div {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.more-links div:first-child {
    justify-content: flex-start;
    padding-left: 4rem;
}

.more-links div:last-child {
    justify-content: flex-end;
    padding-right: 4rem;
}

@media (max-width: 1115px) {
    .more-links div:first-child {
        padding-left: 12.5rem;
    }

    .more-links div:last-child {
        padding-right: 12.5rem;
    }
}

@media (max-width: 1005px) { 
    main {
        height: 67.5%;
    }

    footer {
        height: 22.5%;
    }

    footer > div:first-child {
        height: 33.3%;
    }

    footer > div:last-child {
        height: 66.6%;
        flex-direction: column;
    }

    .more-links div:first-child, .more-links div:last-child {
        padding: 0; 
    }
}

@media (max-width: 640px) {
    .search-engine {
        width: 50rem;
    }
}